.taskHeader {
  /* Sample */
  padding:auto;
  padding-top: 5px;
  background-color: #5ecca6;
  color:white;
  font-size:12px;
  padding-left: 8px;
  padding-bottom: 15px;
}
h2 {
  font-size: 30px;
  vertical-align: middle;
  margin-left:15px;
  text-align: center;

}
.header-remaining-task{
  margin-left:20px
}
